.inicio{
    width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    &__centrado{
        padding-top: 2em;
        width: 90%;
        margin: auto;
        max-width: 1200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
    &__tabla{
        width: 100%;
        margin-top: 2em;
        text-align: center;
    }
    &__flecha{
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        z-index: 3;
        &:hover .slider__svg{
            transform: scale(1.4);
        }
        &.izquierda{
            left: 0;
        }
        &.derecha{
            right: 0;

        }
    }
    &__svg{
        width: 2em;
        height: 2.8em;
        transition: all .5s ease;
    }

}
tr{
    border: 1px solid black;
}
td{
    text-align: center;
    border: 1px solid black;
    padding: 1em 0;
    width: 2em;
    position: relative;
    height: 2rem;
    & a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        @media screen and (max-width : 550px) {
            font-size: .7em;
        }
    }
    & span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        @media screen and (max-width : 550px) {
            font-size: .7em;
        }
    }
}